@charset "UTF-8";

@supports (-webkit-overflow-scrolling:touch) {
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
}

@supports ((-webkit-mask-image:none) or (mask-image:none)) or (-webkit-mask-image:none) {
}

.has-drop-cap:not(:focus):first-letter {
  float: left;
  font-size: 8.4em;
  line-height: .68;
  font-weight: 100;
  margin: .05em .1em 0 0;
  text-transform: uppercase;
  font-style: normal
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
}